* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 4fr;
  grid-area: 1 / 1 / 2 / span 2;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: 2 / 1 / span 2 / span 1;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: 2 / 2 / span 1 / span 1;
  display: grid;
  align-items: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: 3 / 2 / span 1 / span 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
  padding: 5px;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: 4 / 1 / span 1 / span 2;
  display: grid;
  align-items: center;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

li {
  list-style-type: none;
}

ul {
  display: grid;
}

.nav ul {
  grid-template-columns: repeat(3, 1fr) 
}

.header ul {
  grid-template-columns: repeat(4, 1fr);
}

.logo {
  justify-self: start;
}

.photo,
.side-content {
  display: grid;
  align-items: center;
}
